/*GENERAL*/

*{
margin: 0;
padding:0;
}

body{
font-family: 'Roboto', Helvetica, Arial, sans-serif;
background-color: white;
overflow-x: hidden;
}

p{
padding: 15px 0;
}

a{
text-decoration: none;
}

h2{
color: #EEA105;
font-size: 24px;
font-weight: lighter;
letter-spacing: 1.2px;
}

/*HEADER*/

header{
width: 100%;
position: fixed;
top: 0;
background-color: white;
z-index: 2;
padding: 50px;
}

#tt-header .tt-logo{
width: 175px;
}

label, input{
position: fixed;
right: 0;
font-size: 30px;
padding: 0 25px;
color: grey;
cursor: pointer;
top: 45px;
}

input{
display: none;
}

nav{
display: none;
}

#tt-responsive:checked + nav{
display: block;
}

nav ul{
font-family: "Helvetica", sans-serif;
margin: 25px 0 0 0;
padding: 0;
}

nav ul li{
display: block;
padding: 12px 0px;
text-transform: uppercase;
font-weight: bold;
font-size: 12px;
}

nav ul li a{
color: black;
font-weight: bold !important;
}

nav ul li a:hover{
color: #EEA105;
transition: all ease 0.7s;
}

nav img{
width: 20px;
vertical-align: middle;
}

/*PARTNER LOGOS*/

#tt-logos{
/*max-width: 50%*/
margin: 25px auto;
}

.tt-organizers, .tt-partners{
margin: 25px 0;
}

#tt-logos img{
vertical-align: middle;
display: block;
}

.tt-partners-block img{
width: 125px;
padding: 25px 0;
margin: 0 auto;
display: block;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}

.tt-organizers img{
width: 175px;
padding: 25px 0;
margin: 0 auto;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}

.tt-partners-table{
display: none;
}

.tt-partners-fixed-height{
height: 85px;
width: auto !important;
}

.tt-hosts{
font-size: 18px !important;
font-weight: lighter;
}

#tt-logos h2{
font-size: 18px;
text-transform: uppercase;
text-decoration: underline;
letter-spacing: 1px;
}


/*BODY*/

#main-body{
width: 100%;
position: relative;
top: 134px;
}

#section-1{
color: white;
}

#section-1-1{
background-color: #EEA105;
box-sizing: border-box;
height: 100%;
}

#section-1-2{
background-image: url('../files/tt-home-hero-2020.jpg');
background-size: cover;
background-position: center;
height: 300px;
}

#section-2-1{
background-color: grey;
height: auto;
color: white;
}


#section-2-1 a{
color: white;
text-transform: uppercase;
font-size: 20px;
letter-spacing: 1.1px;
padding: 0px;
}

#section-2-1 a:hover{
color: #EEA105;
transition: all ease 1s;
}

#section-2-2{
letter-spacing: 1.05px;
font-weight: lighter;
font-size: 16px;
line-height: 1.5;
}


.tt-section{
padding: 50px;
box-sizing: border-box;
}

.tt-theme{
font-weight: lighter;
text-transform: uppercase;
font-size: 28px;
line-height: 1.25;
letter-spacing: 2px;
padding: 100px 50px !important;
}


.tt-font-bold{
font-weight: normal !important;
letter-spacing: 1.05px;
}

.tt-intro{
font-size: 20px;
color: black;
font-weight: lighter;
letter-spacing: 1px;
line-height: 1.4;
}

.tt-date{
font-family: 'Calibri', sans-serif;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 1.2px;
font-weight: normal;
padding: 10px 0;
}

.tt-agenda-button{
text-transform: uppercase;
letter-spacing: 1.05px;
font-weight: normal;
}

.tt-contact::before{
content: url('../files/tt-mail-icon.svg');
vertical-align: middle;
padding: 5px;
}

.tt-connect{
font-weight: normal !important;
font-size: 16px;
color: black;
text-transform: uppercase;
}
.tt-connect a{
color: black;
}

.tt-hash{
color: #EEA105;
}

.tt-hash a{
color: inherit;
}

.tt-hr{
border-top: solid 1px #EEA105;
margin: 20px 0;
width: 75%;
}

.tt-home-hr{
border-top: solid 1px #EEA105;
margin: 20px 0;
width: 100%;
}

.tt-registration{
color: #EEA015;
font-size: 14px;
}

.tt-registration a{
color: black;
font-weight: normal;
}

.tt-registration a:hover{
color: #EEA015;
transition: all ease 1s;
}

@media screen and (min-width: 700px){

/*HEADER*/

header{
padding: 50px 25px;
}

.tt-logo{
float: left;
margin: 0 50px;
}

label, input{
display: none;
}

nav{
float: right;
display: block;
margin: 0px 50px 0px 0px;
}

nav ul{
margin: 9px 0 0 0;
}

nav ul li{
display: inline-block;
padding: 0px 15px;
}

/*BODY*/

.tt-section{
padding: 50px 75px;
}

#main-body{
top: 150px;
}

.tt-theme{
font-size: 30px;
padding: 0px 75px !important;
height: 50%;
margin: 25% 0;
}

#section-1{
width: 100vw;
height: 450px;
}

#section-2{
clear: both;
width: 100vw;
}

#section-1-1{
height: 100%;
}

#section-1-2{
height: 100%;
}

#section-1-1, #section-2-1{
float: left;
width: 35vw;
}

#section-1-2, #section-2-2{
width: 65vw;
float: right;
}

#section-2-1{
height: 150px;
outline: dotted 1px #EEA105;
outline-offset: 10px;
}

#section-2-2 p{
padding: 20px 0px;
}
}


/*FOR PARTNER LOGOS ONLY*/

@media screen and (min-width: 1300px){ 
.tt-partners-table{
display: block;
}

.tt-partners-block{
display: none;
}

.tt-partners-table img{
width: 6vw;
padding: 15px 40px 15px 40px;
margin: 0 auto;
display: block;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}

#tt-logos{
max-width: 100%;
padding: 25px 0;
margin: 0;
}

.tt-organizers{
max-width: 50%;
margin: 0 auto 20px auto;
}

.tt-organizers img{
display: inline-block !important;
padding: 0 15px;
width: 10vw;
}

.tt-partners{
max-width: 90%;
margin: 0 auto;
padding: 0 25px;
}

.tt-sponsor img{
width: 8vw;
height: auto !important;
}

.tt-partners-secondary{
height: 1.5vw !important;
width: auto !important;
padding: 0px 0px !important;
}

.tt-partners-fixed-height{
height: 4vw;
width: auto !important;
}
}

@media screen and (max-width: 1132px) and (min-width: 699px){

#section-1{
height: 400px;
}

#section-1-1{
width: 40vw;
}

#section-1-2{
width: 60vw;
}

#section-2-1{
width: 40vw;
}

#section-2-2{
width: 60vw;
}

.tt-theme{
font-size: 2.5vw;
}

.tt-date{
font-size: 2vw;
}
}


/*INFORMATION, RESOURCES, MEMBER PAGES*/


#main-body{
margin-bottom: 0;
}

.tt-location{
display: none;
}

#section-2-1.tt-page{
display: none;
}

#section-2-1.tt-page-2{
display: none;
}

#section-1-2.tt-general-info{
background-image: url('../files/world-bank-header.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#section-1-2.tt-resources{
background: url('../files/tt-resources-header.jpg') !important;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#section-1-2.tt-member{
background: url('../files/tt-member-header.jpg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}

#section-1.tt-page{
border: none;
height: 125px;
padding: 50px 75px;
}

.tt-page-2{
background: none;
}

.tt-resources{
padding: 50px;
}

.tt-resources-header{
font-size: 24px !important;
}

.tt-map{
width: 100%;
height: 350px;
margin: 50px 0;
}

.tt-resources p{
padding: 7px 0 !important;
line-height: 1.25;
}

.tt-resources h2{
font-size: 18px;
color: black;
font-weight: normal;
letter-spacing: 0px;
padding: 25px 0;
}

.tt-resources-hr {
width: 50%;
border-top: solid 0.4px #EEA105;
margin: 25px 0px;
}

.tt-resources a{
color: black;
}

.tt-page-2 a{
border-bottom: solid 1px #EEA105;
word-wrap: break-word;
}

.tt-highlighted{
border-bottom: solid 1px #EEA105;
}

#section-1 h1{
font-weight: lighter;
letter-spacing: 1.05px;
color: white;
font-size: 24px;
text-align: center;
}

.tt-resources a:hover{
color: #EEA105;
}

.tt-download{
border: solid #EEA105 0.5px;
border-radius: 15px;
padding: 10px !important;
margin: 25px 0px;
width: 250px;
text-align: center;
font-size: 16px;
}

.tt-download a{
color: #EEA105;
}

.tt-download:hover{
background-color: #EEA105;
}

.tt-download:hover a{
color: white;
}

.tt-about{
margin: 15px 0;
}


@media only screen and (min-width: 700px){
.tt-page{
margin-bottom: 50px !important;
}

#section-1.tt-page{
height: 400px;
}

/*#section-1 h1{
color: white;
margin: 125px 0px;
font-size: 35px;
text-align: center;
}*/

.tt-resources{
padding: 50px 25px !important;
}

.tt-map{
display: none;
}

.tt-page.section-2-2.tt-section{
padding: 0;
}

.tt-about{
width: 75%;
}

.tt-download{
display: inline-block;
margin: 25px 20px 25px 0px;
}
}

@media only screen and (min-width: 851px){
#section-1 h1{
color: white;
margin: 150px 0px;
font-size: 35px;
text-align: center;
}
}



@media only screen and (min-width: 701px) and (max-width: 850px){

#section-1 h1{
color: white;
margin: 125px 0px;
font-size: 26px;
text-align: center;
}
}


/*BECOME A MEMBER PAGE */

#tt-member{
margin-bottom: 50px;
}

#tt-member > div{
margin-bottom: 25px;
}


.tt-member-block-header{
color: white;
text-align: center;
padding: 20px;
margin-bottom: 25px;
}

.tt-member-block strong{
font-weight: bold;
}

.tt-resources-bold{
font-weight: 700;
}

.tt-member-block-header p:nth-child(1){
font-weight: lighter;
font-size: 20px;
}


.tt-member-block-header:after{
content: url('../files/tt-member-page-icon.png');
position: relative;
top: 40px;
}

.tt-member-block-header p:nth-child(2){
font-weight: bold;
font-size: 22px;
}

.tt-knowledge .tt-member-block-header{
background-color: grey;
}

.tt-development .tt-member-block-header{
background-color: #f0ba00;
}

.tt-parallel .tt-member-block-header{
background-color: #e98300;
}

.tt-member-sponsor .tt-member-block-header{
background-color: #c51f24;
}


.tt-knowledge strong{
color: grey;
}

.tt-development strong{
color: #f0ba00;
}

.tt-parallel strong{
color: #e98300;
}

.tt-member-sponsor strong{
color: #c51f24;
}

.tt-member-contact{
font-weight: 600;
}

@media screen and (min-width: 1200px){

#tt-member{
display: flex;
display: -webkit-box;
display: -ms-flexbox;
display: -webkit-flex;
}

#tt-member > div{
flex: 1;
-webkit-box-flex: 1;
-webkit-flex: 1; 
-ms-flex: 1;  
padding-right: 20px;
padding-bottom: 0px;
}

.tt-member-block-header{
height: 125px;
}

.tt-member-block-header p:nth-child(1){
height: 65px;
}

.tt-member-block-header:after{
top: 10px;
}
}
