/*GENERAL*/

*{
margin: 0;
padding:0;
}

body{
font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
background-color: white;
overflow-x: hidden;
}

p{
padding: 15px 0;
}

a{
text-decoration: none;
}

h2{
color: #EEA105;
font-size: 24px;
font-weight: lighter;
letter-spacing: 1.2px;
}

/*HEADER*/

header{
width: 100%;
position: fixed;
top: 0;
background-color: white;
z-index: 2;
padding: 50px;
}

#tt-header .tt-logo{
width: 175px;
}

label, input{
position: fixed;
right: 0;
font-size: 30px;
padding: 0 25px;
color: grey;
cursor: pointer;
top: 45px;
}

input{
display: none;
}

nav{
display: none;
}

#tt-responsive:checked + nav{
display: block;
}

nav ul{
margin: 25px 0 0 0;
padding: 0;
}

nav ul li{
display: block;
padding: 12px 0px;
text-transform: uppercase;
font-weight: bolder;
font-size: 12px;
}

nav ul li a{
color: black;
}

nav ul li a:hover{
color: #EEA105;
transition: all ease 0.7s;
}

nav img{
width: 20px;
vertical-align: middle;
}

#tt-logos{
max-width: 50%;
margin: 25px auto;
}

.tt-organizers, .tt-partners{
margin: 25px 0;
}

#tt-logos img{
vertical-align: middle;
display: block;
}

.tt-partners img{
width: 125px;
padding: 25px 0;
margin: 0 auto;
display: block;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}

.tt-organizers img{
width: 175px;
padding: 25px 0;
margin: 0 auto;
filter: grayscale(100%);
-webkit-filter: grayscale(100%);
}


/*BODY*/

#main-body{
width: 100%;
position: relative;
top: 134px;
}

#section-1{
color: white;
}

#section-1-1{
background-color: #EEA105;
box-sizing: border-box;
height: 100%;
}

#section-1-2{
background-image: url('../files/tt-home-hero.jpg');
background-size: cover;
background-position: center;
height: 300px;
}

#section-2-1{
background-color: grey;
height: auto;
color: white;
}


#section-2-1 a{
color: white;
text-transform: uppercase;
font-size: 20px;
letter-spacing: 1.1px;
padding: 0px;
}

#section-2-1 a:hover{
color: #EEA105;
transition: all ease 1s;
}

#section-2-2{
letter-spacing: 1.05px;
font-weight: lighter;
font-size: 16px;
line-height: 1.5;
}


.tt-section{
padding: 50px;
box-sizing: border-box;
}

.tt-theme{
font-weight: lighter;
text-transform: uppercase;
font-size: 28px;
line-height: 1.25;
letter-spacing: 2px;
padding: 100px 50px !important;
}


.tt-font-bold{
font-family: 'Helvetica', Arial, sans-serif;
font-weight: normal !important;
letter-spacing: 1.05px;
}

.tt-intro{
font-size: 20px;
color: black;
font-weight: lighter;
letter-spacing: 1px;
line-height: 1.4;
}

.tt-date{
font-family: 'Calibri', sans-serif;
font-size: 20px;
text-transform: uppercase;
letter-spacing: 1.2px;
font-weight: normal;
padding: 10px 0;
}

.tt-agenda-button{
text-transform: uppercase;
letter-spacing: 1.05px;
}

.tt-contact::before{
content: url('../files/tt-mail-icon.svg');
vertical-align: middle;
padding: 5px;
}

.tt-connect{
font-family: 'Helvetica', Arial, sans-serif;
font-weight: normal !important;
font-size: 16px;
color: black;
text-transform: uppercase;
}
.tt-connect a{
color: black;
}

.tt-hash{
color: #EEA105;
}

.tt-hr{
border-top: solid 1px #EEA105;
margin: 20px 0;
width: 75%;
}

@media screen and (min-width: 700px){

/*HEADER*/

header{
padding: 50px 25px;
}

.tt-logo{
float: left;
margin: 0 50px;
}

label, input{
display: none;
}

nav{
float: right;
display: block;
margin: 0px 50px 0px 0px;
}

nav ul{
margin: 9px 0 0 0;
}

nav ul li{
display: inline-block;
padding: 0px 15px;
}

#tt-logos{
max-width: 100%;
padding: 25px 0;
margin: 0;
}

#tt-logos h2{
padding-top: 25px;
}

#tt-logos img{
display: inline-block;
padding: 25px 15px;
}

.tt-organizers{
max-width: 70%;
margin: 0 auto 20px auto;
}

.tt-partners{
padding: 0 25px;
}

/*BODY*/

.tt-section{
padding: 50px 75px;
}

#main-body{
top: 150px;
}

.tt-theme{
font-size: 30px;
padding: 0px 75px !important;
height: 50%;
margin: 25% 0;
}

#section-1{
width: 100vw;
height: 450px;
}

#section-2{
clear: both;
width: 100vw;
}

#section-1-1{
height: 100%;
}

#section-1-2{
height: 100%;
}

#section-1-1, #section-2-1{
float: left;
width: 35vw;
}

#section-1-2, #section-2-2{
width: 65vw;
float: right;
}

#section-2-1{
height: 150px;
outline: dotted 1px #EEA105;
outline-offset: 10px;
}

#section-2-2 p{
padding: 20px 0px;
}
}

@media screen and (max-width: 1132px) and (min-width: 699px){

#section-1{
height: 400px;
}

#section-1-1{
width: 40vw;
}

#section-1-2{
width: 60vw;
}

#section-2-1{
width: 40vw;
}

#section-2-2{
width: 60vw;
}

.tt-theme{
font-size: 2.75vw;
}

.tt-date{
font-size: 2vw;
}
}


/*INFORMATION & RESOURCES PAGE*/


#main-body{
margin-bottom: 0;
}

.tt-location{
display: none;
}

#section-2-1.tt-page{
display: none;
}

#section-2-1.tt-page-2{
display: none;
}

#section-1-2.tt-general-info{
background-image: url('../files/world-bank-header.jpg');
background-position: center;
}

#section-1-2.tt-page-2{
background: url('../files/tt-resources-header.jpg');
background-position: top;
background-repeat: no-repeat;
}

#section-1.tt-page{
border: none;
height: 125px;
padding: 50px 75px;
}

.tt-page-2{
background: none;
}

.tt-resources{
padding: 50px;
}

.tt-resources-header{
font-size: 24px !important;
}

.tt-map{
width: 100%;
height: 350px;
margin: 50px 0;
}

.tt-resources p{
padding: 7px 0 !important;
line-height: 1.25;
}

.tt-resources h2{
font-size: 18px;
color: black;
font-weight: normal;
letter-spacing: 0px;
padding: 25px 0;
}

.tt-resources-hr {
width: 50%;
border-top: solid 0.4px #EEA105;
margin: 25px 0px;
}

.tt-resources a{
color: black;
}

.tt-page-2 a{
border-bottom: solid 1px #EEA105;
}

.tt-highlighted{
border-bottom: solid 1px #EEA105;
}

#section-1 h1{
font-weight: lighter;
letter-spacing: 1.05px;
color: white;
font-size: 24px;
text-align: center;
}

.tt-resources a:hover{
color: #EEA105;
}

.tt-download{
border: solid #EEA105 0.5px;
border-radius: 15px;
padding: 10px !important;
margin: 25px 0;
width: 175px;
text-align: center;
font-size: 16px;
}

.tt-download a{
color: #EEA105;
}

.tt-download:hover{
background-color: #EEA105;
}

.tt-download:hover a{
color: white;
}

.tt-about{
margin: 15px 0;
}


@media only screen and (min-width: 700px){
.tt-page{
margin-bottom: 50px !important;
}

#section-1.tt-page{
height: 400px;
}

#section-1 h1{
color: white;
padding: 150px 0px;
font-size: 35px;
text-align: center;
}

.tt-resources{
padding: 50px 25px !important;
}

.tt-map{
display: none;
}

.tt-page.section-2-2.tt-section{
padding: 0;
}

.tt-about{
width: 75%;
}

}